body{
    height: 100vh !important;
}

.uk-container.container-pertama {
    text-align: center;
    margin: 35vh 0;
}

h1#judul {
    font-family: sans-serif;
    font-weight: 900;
    color: #f2ee8b;
}

a.uk-accordion-title {
    color: #49eaf0;
    font-size: xx-large;
    font-weight: 900;
    font-family: cursive;
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
    color: #81fd69 !important;
    text-decoration: none;
    outline: 0;
}

button.uk-button.uk-button-default.uk-button-large.uk-width-1-1.uk-animation-scale-up {
    background: aliceblue;
    opacity: 75%;
    font-size: x-large;
    color: black;
    font-weight: 900;
}

.uk-h1, h1 {
    font-size: 2.23125rem;
    line-height: 1.2;
    color: #81fd69 !important;
    font-size: large;
    font-weight: 900!important;
}