$dark-color: #545454;
body{
    height: 100vh !important;
    background: #ffffff;
}

.uk-container.container-pertama {
    text-align: left;
}

h1#judul {
    font-family: sans-serif;
    font-weight: 900;
    color: $dark-color;
    font-size: 4em;
}


a.uk-accordion-title {
    color: $dark-color;
    font-size: xx-large;
    font-weight: 900;
    font-family: cursive;
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
    color: $dark-color !important;
    text-decoration: none;
    outline: 0;
}

button.uk-button.uk-button-default.uk-button-large.uk-animation-scale-up {
    background: aliceblue;
    opacity: 75%;
    font-size: x-large;
    color: black;
    font-weight: 900;
    border-radius: 50px;
}

.uk-h1, h1 {
    font-size: 2.23125rem;
    line-height: 1.2;
    color: #81fd69 !important;
    font-size: large;
    font-weight: 900!important;
}

button#checkout {
    background: $dark-color;
    font-weight: 900;
    border-radius: 20px 0 0 20px;;
}

button#home {
    background: white;
    color: #545;
    border: solid 2px #545;
    border-radius: 20px 0 0 20px;;
    font-weight: 900;
}

.uk-width-1-2 {
    width: 50%;
    height: 100vh;
}

img {
    height: 90vh !important;
    max-width: 90vw !important;
}