<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="../styles/login.css" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
  </head>
  <body onload="setTimeout(show, 1500)">
    <div class="uk-container">
      <div class="uk-child-width-1-2" uk-grid>
        <div onload="addProduct()" id="showProd">

            <h1>SELAMAT BERBELANJA</h1>
            
        </div>

        <div id="order">
          <label for="count-order">JUMLAH BARANG</label>
          <input type="number"  min=1 oninput="autoUpdatePrice()" name="count-order" id="count-order" class="uk-input">
          <label for="totalPrice">TOTAL HARGA</label>
          <input disabled type="number" name="totalPrice" id="totalPrice" class="uk-input">
          <button  onclick="addToChart()" class="uk-button uk-button-primary uk-button-small" id="cart">
            Add To/Update  Cart
          </button>
          <button class="uk-button uk-button-primary uk-button-small" id="wa">
            WhatssApp Me
          </button>
          <button  onclick="checkOut()" class="uk-button uk-button-default uk-button-small" id="cart">
            <a href="cart.html">
              All Order
            </a>
          </button>
        </div>
      </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
          https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBxlwlmydHtSsR5L-wMIOxRWGY95JysT_A",
        authDomain: "g2-d5-419b0.firebaseapp.com",
        databaseURL: "https://g2-d5-419b0.firebaseio.com",
        projectId: "g2-d5-419b0",
        storageBucket: "g2-d5-419b0.appspot.com",
        messagingSenderId: "738737702275",
        appId: "1:738737702275:web:0312ad675dbed245eaa2b6",
        measurementId: "G-2S7QY26E7P",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
    <script src="../js/product.js"></script>
  </body>
</html>
