button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #e8132d3b, #00800094, #0000ffa6,transparent);
    font-size: xx-large;
    font-family: fantasy;
}