img#logo {
  margin-right: -45%;
}

body {
  background: #000;
  overflow-x: hidden;
}
#nav {
  margin-top: 3%;
}

.home-hero h1 {
  margin-bottom: 0.3125rem;
  font-size: 4rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: #fff;
}

.home-hero__subtitle {
  margin-bottom: 2.1875rem;
  font-family: DINEngschriftStd;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.31813rem;
  color: #fff;
  text-transform: uppercase;
}

.home-hero__descr {
  width: 100%;
  max-width: 31.25rem;
  font-size: 1.125rem;
  line-height: 1.56;
  margin-bottom: 3.125rem;
  color: #fff;
}

.uk-button {
  min-width: 17.8125rem;
  min-height: 4.375rem;
  line-height: 4.375rem;
  white-space: nowrap;
  padding: 0 2.5rem;
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns=http://www.w3.org/2000/svg width=285 height=70 fill=%23dcff02%3E%3Cpath fill-rule=evenodd d=M284.508 21.976l-1.474-14.734c-.041-.404-.31-1.205-.692-1.984V4.81h-.237c-.455-.813-1.013-1.505-1.53-1.534l-14.703-.84c-3.422-.196-6.816-.552-10.236-.31l-17.987 1.275c-1.122.08-2.273.243-3.398.21-2.097-.064-4.21-.33-6.3-.493-5.49-.43-10.981-.948-16.478-1.289-4.164-.258-8.405-.036-12.577-.04-3.871-.004-7.845-.279-11.707.038l-17.091 1.4c-3.26.266-6.347.448-9.61.39l-17.888-.33c-3.585-.067-7.174.09-10.758.166-4.661.096-9.407.466-14.067.29-5.028-.19-10.091-.915-15.101-1.37-3.382-.307-6.758-.779-10.155-.7-9.305.216-18.606.331-27.897.886-5.491.327-10.982.708-16.476.983-4.132.206-8.296.126-12.433.182-9.693.13-19.367.074-29.061-.016-1.538-.013-3.075-.028-4.612-.043-.024.048-.05.095-.072.142L.614 16.302c-.316 2.917-.74 5.724-.58 8.648.434 7.933 1 15.823.9 23.766l-.18 14.41c-.011.875.583 1.853 1.008 2.575.276.468.829 1.66 1.468 1.668 4.918.066 9.837.132 14.755.2 3.522.047 7.054.201 10.575.047 9.295-.41 18.574-.975 27.879-.907 5.588.041 11.179.023 16.765.124 4.145.076 8.303.48 12.44.726l8.996.54c.957.056 1.9.172 2.854.065 5.738-.64 11.476-1.283 17.212-1.925 1.807-.202 3.66-.553 5.479-.614 1.408-.045 2.876.182 4.28.274 5.927.39 11.855.777 17.782 1.165 8.207.538 16.493-.18 24.714.046 8.609.237 17.2 1.208 25.816 1.213l18.218.011c3.434.002 6.813-.382 10.235-.692l9.769-.882c1.924-.174 3.88-.47 5.814-.525 1.337-.037 2.703.115 4.038.178l9.664.448c9.662.448 19.3.556 28.974.664 1.516.016 3.03.034 4.545.051.059.001.075-.066.073-.158.07-7.23-.007-14.477.238-21.704l.52-15.354c.1-2.88-.07-5.509-.357-8.384/%3E%3C/svg%3E)
    50% / contain no-repeat;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

li img{
  width: 100% !important;
  height: 100% !important;
}

svg{
  color: black !important;
  width: 3em !important;
}